/* Force all faculty images to be the same size */
.tab-pane[data-value="Food_tab"] img,
.tab-pane[data-value="Water_tab"] img,
.tab-pane[data-value="Energy_tab"] img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

/* Changing fonts
h1, h2, h3 {
  font-family: 'Impact';
} */

/* .radio label,
.checkbox label {
  font-family: "courier";
} */

/* Standardize nav page image sizes */
.clickable-images img {
  width: 250px;
  height: 200px;
  cursor: pointer;
}
